// Variables

// Font-families
$font-main: 'Work Sans', Helvetica, Arial, sans-serif;
$font-titles: 'Montserrat', Helvetica, Arial, sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-title: 700;

// Colors
$color-text: #606c78;
$color-links: #2b88bb;
$color-h1: #2d3339;
$color-h2: #bbb;
$color-bg: #fff;
$color-border: #ccc;

$color-twitter: #55acee;
$color-instagram: #3f729b;
$color-facebook: #3b5998;
$color-linkedin: #0077b5;
$color-github: #333;
$color-mail: #dc4e41;

// Dimensions
$wrapper-width: 450px;