// Font-families
$font-main: 'Work Sans', Helvetica, Arial, sans-serif;

// Font weights
$font-weight-regular: 400;
$font-weight-bold: 600;

// Colors
$color-text: #606c79;   // Gray-blue
$color-links: #266dbf;  // Blue
$color-bg: #fff;        // White
$color-border: #ccc;    // Light gray

// Dimensions
$wrapper-width: 440px;