// Variables

// Font-families
$font-main: 'Work Sans', Helvetica, Arial, sans-serif;
$font-titles: 'Montserrat', Helvetica, Arial, sans-serif;

// Colors
$color-text: #606c78;
$color-links: #2b88bb;
$color-h1: #2d3339;
$color-h2: #bbb;
$color-bg: #fff;
$color-border: #eee;

// Dimensions
$wrapper-width: 450px;