@charset "UTF-8";

// Import other files

@import 'reset';
@import 'functions';
@import 'utilities';
@import 'variables';

// General

* {
    box-sizing: border-box;
}

html {
    // Only for mobile devices
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

body {
    font: $font-weight-regular 100% $font-main;
    color: $color-text;
    background-color: $color-bg;
}

#wrapper {
    max-width: $wrapper-width;
    margin: 0 auto;
    
    @media only screen and (min-width: $wrapper-width) {
        padding: 0 20px;
    }
}

a {
    position: relative;
    color: $color-links;
    text-decoration: none;
    border-bottom: 2px solid $color-border;
    transition: border-bottom .5s ease;
    
    &:hover {
        color: #00324d;
    }
    
    &:active {
        top: 1px;
    }
}

::-moz-selection {
    background-color: $color-selection;
}

::selection {
    background-color: $color-selection;
}

// Header

header {
    text-align: center;
    padding-top: 50px;
}

.avatar {
    display: inline-block;
    width: 102px;
    height: 102px;
    text-indent: -9999px;
    background: url('../img/avatar.png') no-repeat;
    background-size: 100px;
    border-radius: 50%;
    border: 1px solid #f6f6f6;
}

// Content

main {
    display: block;
    padding: 50px 20px;
    font-size: em(16);
    
    > p {
        line-height: 30px;

        &:not(:last-child) {
            padding-bottom: 30px;
        }
    }
    
    @media only screen and (min-width: $wrapper-width) {
        padding: 50px 0;
    }
}

.first {
    font-weight: $font-weight-bold;
}

// Footer
footer {
    width: 100%;
    padding: 50px 0;
    font-size: em(14);
    text-align: center;
    border-top: 1px dashed $color-border;
    
    a:hover {
        border-color: $color-links;
    }
}